<div class="header shadows"><span>Dashboard</span></div>
<div class="page">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-12 side-container">
        <input class="btn btn-default btn-info" type="button" value="Refresh" (click)="refreshList()">
        <input class="btn btn-default btn-success" type="button" value="Generate Offers" (click)="generateOffers()">
        <input class="btn btn-default btn-danger" type="button" value="Clear Offers" (click)="clearOffers()">
      </div>
      <div class="col-sm-12 side-container">

        <h2>Users</h2>

        <div class="user-wrapper row">


          <div class="col-sm-6" *ngFor="let account of accounts">
            <div class="row userCard shadows">
              <h2 style="color: #0000fe; margin-top: 15px; text-align: left" class="col-sm-6"><b><i>{{
                account.first_name
                }}</i></b> {{ account.last_name }} </h2>
              <h2 style="margin-top: 15px;" class="col-sm-6">Balance : <span style="color: green">{{ account.account_balance}} $</span>
              </h2>

              <div class="col-sm-12" style="text-align: left;margin-top: 15px"><h5>Offer Available : <b>{{
                account.hasOwnProperty('offers') && account.offers.length > 0 ?
                'Yes' : 'No' }} </b></h5></div>
              <div class="col-sm-12" *ngIf="account.hasOwnProperty('offers')">
                <div class="col-sm-12" *ngFor="let offer of account.offers">
                  <div class="row">
                    <div class="col-sm-2" style="text-align: right"><h5> Category : </h5></div>
                    <div class="col-sm-2" style="text-align: left"><h5><b>{{ offer.category }}</b></h5></div>
                    <div class="col-sm-2" style="text-align: right"><h5> Offer Id : </h5></div>
                    <div class="col-sm-2" style="text-align: left"><h5><b>{{ offer.offer_id }}</b></h5></div>
                    <div class="col-sm-2" style="text-align: right"><h5> Discount : </h5></div>
                    <div class="col-sm-2" style="text-align: left"><h5><b>{{ offer.discount }}</b></h5></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12" style="text-align: left;margin-top: 10px"><h5>Offer Accepted : <b>{{
                account.hasOwnProperty('applied_offers') && account.applied_offers.length > 0 ?
                'Yes' : 'No' }} </b></h5></div>
              <div class="col-sm-12" *ngIf="account.hasOwnProperty('applied_offers')">
                <div class="col-sm-12" *ngFor="let aoffer of account.applied_offers">
                  <div class="row">
                    <div class="col-sm-2" style="text-align: right"><h5> Category : </h5></div>
                    <div class="col-sm-2" style="text-align: left"><h5><b>{{ aoffer.category }}</b></h5></div>
                    <div class="col-sm-2" style="text-align: right"><h5> Offer Id : </h5></div>
                    <div class="col-sm-2" style="text-align: left"><h5><b>{{ aoffer.offer_id }}</b></h5></div>
                    <div class="col-sm-2" style="text-align: right"><h5> Discount : </h5></div>
                    <div class="col-sm-2" style="text-align: left"><h5><b>{{ aoffer.discount }}</b></h5></div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
